.about_section {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.about_text {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    max-width: 80%;
    color: #efefef;
}

.about_content_text {
    max-width: 50rem;
}

.about_content_text_paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #efefef;
}

.about_content_button {
    display: inline-flex;
    align-items: center;
    border: 2px solid;
    border-color: #efefef;
    border-radius: 50px;
}

.about_content_button_link {
    text-decoration: none;
    color: #efefef;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}

.about_content_button_link_text_container {
    color: #efefef;
    margin-right: 1vw;
    margin-top: 0.2vh;
}

.about_content_button_link_text {
    position: relative;
}

.about_content_button_link_text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #efefef;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.about_content_button_link_text:hover::after {
    visibility: visible;
    width: 100%;
}

.about_content_skills {
    margin-top: 10vh;
    width: auto;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
}

.parallax {
    overflow: hidden;
    margin: 0;
    line-height: 0.9;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax span {
    font-family: "Plaster", sans-serif;
    display: block;
    margin-right: 1vw;
    color: #efefef;
}

.about_content_skills_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin-top: 10vh;
    color: #efefef;
}

.about_content_skills_list_item {
    border-left: 2px solid #1114143c;
}

.about_content_skills_list_item_container {
    margin-left: 2vw;
}

.about_content_skills_list_item_container span {
    font-size: 3.5rem;
    opacity: .1;
}

.about_content_skills_list_item_container h3 {
    margin-top: 6vh;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}