.hero_content {
    display: grid;
    grid-template-columns: 15fr 4fr;
    grid-column-gap: 1.5rem;
    align-items: flex-end;
    color: #efefef;
}

.hero_text {
    font-size: 11rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    opacity: 0.01;
    color: #efefef;
}

.hero_subtext {
    position: relative;
    top: -5rem;
    color: #efefef;
}