.nav {
    display: flex;
    margin-top: 3vh;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        align-items: center;
    }

    .nav_logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
    }

    .nav_links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    .nav_link {
        position: relative;
        color: #efefef;
        margin-right: 2vw;

        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: #efefef;
            transition: all 0.2s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }
    }

    .nav_status {
        color: #efefef;

        @media screen and (max-width: 524px) {
            display: none;
        }
    }
}