@font-face {
    src: url('./fonts/PPMori-Regular.otf') format('truetype');
    font-family: 'PP Mori';
}

* {
    cursor: none;
}

html {
    font-family: 'PP Mori', sans-serif;
    line-height: 1.15;
    height: auto;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #191919;
    margin: 0;
}

.grain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/grain-overlay.gif');
    opacity: 0.03;
    z-index: -1;
}

main {
    height: 100%;
}

.App {
    height: 100%;

    .wrapper {
        margin-inline: 1.5rem;
    }

    html.lenis {
        height: auto;
    }

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
        overflow: hidden;
    }

    .lenis.lenis-scrolling iframe {
        pointer-events: none;
    }
}

a {
    color: #F7CA18;
    text-decoration: none;
}