@font-face {
    src: url('./fonts/PPMori-Regular.otf') format('truetype');
    font-family: 'PP Mori';
}

* {
    cursor: none;
}

html {
    font-family: 'PP Mori', sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
    margin-inline: 1.5rem;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: #303030;
}

main {
    height: fit-content;
}

a {
    color: #F7CA18;
    text-decoration: none;
}